.Container {
  max-width: 360px;
  margin: 0 auto;
}

.Btn {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
}

.ProductItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  padding: 10px;
}

.ProductTitle {
  font-weight: bold;
}
